<div class="row">
  <div class="col-12">
       <h5 class="font-weight-bold mb-3">Admin page</h5>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-danger" (click)="onResetCategories()">Reset categories</button>
  </div> <!-- end col-sm-12 -->
</div> <!-- end row -->
<div class="row">
  <div class="col-12 mt-3">
    <button type="button" class="btn btn-danger" (click)="onResetProducts()">Reset products</button>
  </div> <!-- end col-sm-12 -->
</div> <!-- end row -->
<div class="row mt-3">
  <div class="col-12">
    <button type="button" class="btn btn-danger" (click)="onResetShops()">Reset shops</button>
  </div> <!-- end col-sm-12 -->
</div> <!-- end row -->
<div class="row mt-3">
  <div class="col-12">
    <button type="button" class="btn btn-danger" (click)="onResetUnits()">Reset units</button>
  </div> <!-- end col-sm-12 -->
</div> <!-- end row -->
